[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=system-run
Exec=mintstick -m iso
Categories=System;
OnlyShowIn=KDE;
Name=USB Image Writer
Name[am]=USB ምስል መጻፊያ
Name[ar]=كاتب الصور على USB.
Name[be]=Запісаць вобраз на USB
Name[be@latin]=Запісаць вобраз на USB
Name[bg]=Записване на образ на USB диск
Name[ca]=Gravador d'imatge USB
Name[ca@valencia]=Gravador d'imatge USB
Name[cs]=USB zapisovač obrazů
Name[da]=USB aftryksskriver
Name[de]=USB-Abbilderstellung
Name[el]=Εγγραφέας εικόνας USB
Name[es]=Grabador de imágenes USB
Name[es_AR]=Grabador de imágenes USB
Name[et]=USB tõmmise kirjutaja
Name[eu]=USB irudi-idazlea
Name[fi]=USB-levykuvan kirjoittaja
Name[fr]=Créateur de clé USB
Name[fr_CA]=Créateur de clé USB
Name[gd]=Sgrìobhadair ìomhaighe USB
Name[gl]=Gravador de imaxes USB
Name[he]=כותב דמות להתקן נשלף
Name[hr]=USB zaspisnik slika
Name[hu]=Pendrive lemezkép-író
Name[id]=Penulis Berkas USB
Name[is]=USB-diskmyndaskrifari
Name[it]=Scrittore di Immagine USB
Name[ja]=USB イメージライタ
Name[ko]=USB 이미지 라이터
Name[lt]=USB atvaizdo rašyklė
Name[ml]=യു എസ് ബി ചിത്രം എഴുതുന്നയാൾ
Name[mr]=USB वर प्रतिमा लिहीनारा
Name[ms]=Penulis Imej USB
Name[nds]=USB Abbild Schreiber
Name[ne]=USB छवि लेखक
Name[nl]=Schijfkopieschrijver voor USB
Name[oc]=Creator de clau USB
Name[pa]=USB ਈਮੇਜ਼ ਰਾਈਟਰ
Name[pl]=Zapisywanie obrazów na USB
Name[pt]=Gravador de imagens em USB
Name[pt_BR]=Gravador de imagem USB
Name[pt_PT]=Gravador de imagens em USB
Name[ro]=Scriitor de imagine USB
Name[ru]=Создание загрузочного USB-носителя
Name[sk]=Tvorca USB obrazu
Name[sl]=Zapisovalnik odtisov USB
Name[sr]=Уписивање слика на УСБ
Name[sr@ijekavianlatin]=Уписивање слика на УСБ
Name[sr@latin]=Уписивање слика на УСБ
Name[sv]=USB avbildsskrivare
Name[ta]=யுஎஸ்பி பட எழுதி
Name[tg]=Сабти тасвири диски USB
Name[th]=โปรแกรมเขียนอิมเมจ USB
Name[tr]=USB Kalıp Yazıcı
Name[uk]=Записувач образів на USB пристрої
Name[vi]=Trình Ghi Ảnh USB
Name[zh_CN]=USB 镜像写入工具
Name[zh_TW]=USB 映像檔寫入程式
Comment=Make a bootable USB stick
Comment[am]=bootable USB stick መፍጠሪያ
Comment[ar]=انشئ جهاز USB للتمهيد
Comment[be]=Зрабіць запускальную USB-прыладу
Comment[be@latin]=Зрабіць запускальную USB-прыладу
Comment[bg]=Създаване на стартиращa USB карта
Comment[ca]=Crear una memòria USB arrancable
Comment[ca@valencia]=Crear una memòria USB arrancable
Comment[cs]=Vytvořit bootovatelný USB disk
Comment[da]=Lav en bootbar USB-nøgle
Comment[de]=Bootfähigen USB-Stick erstellen
Comment[el]=Να είναι εκκινήσιμη η μνήμη USB
Comment[es]=Crear una memoria USB arrancable
Comment[es_AR]=Crear una memoria USB arrancable
Comment[et]=Alglaaditava USB pulga loomine
Comment[eu]=Sortu USB memoria abiarazgarri bat
Comment[fi]=Tee käynnistettävä USB-tikku
Comment[fr]=Créer une clef USB bootable
Comment[fr_CA]=Créer une clef USB bootable
Comment[gl]=Crear unha memoria USB arrincábel
Comment[he]=יצירת התקן אתחול נשלף
Comment[hr]=Napravi USB uređaj za podizanje sustava
Comment[hu]=Indítható pendrive készítése
Comment[id]=Membuat sebuah bootable USB
Comment[is]=Búa til ræsanlegan USB-lykil
Comment[it]=Crea una penna USB avviabile
Comment[ja]=ブート可能な USB メモリの作成
Comment[ko]=부팅 USB 만들기
Comment[lt]=Sukurti įkraunamą USB atmintinę
Comment[ml]=ഒരു ബൂടബ്ൽ യു എസ് ബി ഡ്രൈവ്  നിര്മിക്കുന്നു
Comment[mr]=बूटेबल USB स्टिक तयार करा
Comment[ms]=Buat pemacu pena USB boleh but
Comment[nds]=Erstelle einen bootfähigen USB-Stick
Comment[ne]=बुटेवल USB बनाउनुहोस्
Comment[nl]=Een opstartbaar USB-staafje maken
Comment[oc]=Crear una clau USB bootabla
Comment[pa]=USB ਸਟਿੱਕ ਬੂਟਹੋਣਯੋਗ ਬਣਾਓ
Comment[pl]=Utwórz rozruchową kartę USB
Comment[pt]=Criar um disco USB de arranque
Comment[pt_BR]=Criar um Pen Drive Bootável
Comment[pt_PT]=Criar um disco USB de arranque
Comment[ro]=Fă un USB stick bootabil
Comment[ru]=Создание загрузочного USB-носителя
Comment[sk]=Vytvoriť spustiteľný USB flash disk
Comment[sl]=Ustvari zagonski ključ USB
Comment[sr]=Направите покретачки USB штапић
Comment[sr@ijekavianlatin]=Направите покретачки USB штапић
Comment[sr@latin]=Направите покретачки USB штапић
Comment[sv]=Skapa en boot-kapabel USB-sticka
Comment[ta]=துவங்கக்கூடிய ஒரு யுஎஸ்பி குச்சியைச் செய்க
Comment[tg]=Таҳия кардани драйви боршавандаи USB
Comment[th]=ทำสติ๊ก USB ที่ใช้เริ่มระบบได้
Comment[tr]=Boot edebilir USB bellek hazırla
Comment[uk]=Зробити завантажувальний USB накопичувач
Comment[vi]=Tạo đĩa USB khởi động
Comment[zh_CN]=创建可启动 U 盘
Comment[zh_TW]=製作可開機 USB 隨身碟
GenericName=Make a bootable USB stick
GenericName[am]=bootable USB stick መፍጠሪያ
GenericName[ar]=انشئ جهاز USB للتمهيد
GenericName[be]=Зрабіць запускальную USB-прыладу
GenericName[be@latin]=Зрабіць запускальную USB-прыладу
GenericName[bg]=Създаване на стартиращa USB карта
GenericName[ca]=Crear una memòria USB arrancable
GenericName[ca@valencia]=Crear una memòria USB arrancable
GenericName[cs]=Vytvořit bootovatelný USB disk
GenericName[da]=Lav en bootbar USB-nøgle
GenericName[de]=Bootfähigen USB-Stick erstellen
GenericName[el]=Να είναι εκκινήσιμη η μνήμη USB
GenericName[es]=Crear una memoria USB arrancable
GenericName[es_AR]=Crear una memoria USB arrancable
GenericName[et]=Alglaaditava USB pulga loomine
GenericName[eu]=Sortu USB memoria abiarazgarri bat
GenericName[fi]=Tee käynnistettävä USB-tikku
GenericName[fr]=Créer une clef USB bootable
GenericName[fr_CA]=Créer une clef USB bootable
GenericName[gl]=Crear unha memoria USB arrincábel
GenericName[he]=יצירת התקן אתחול נשלף
GenericName[hr]=Napravi USB uređaj za podizanje sustava
GenericName[hu]=Indítható pendrive készítése
GenericName[id]=Membuat sebuah bootable USB
GenericName[is]=Búa til ræsanlegan USB-lykil
GenericName[it]=Crea una penna USB avviabile
GenericName[ja]=ブート可能な USB メモリの作成
GenericName[ko]=부팅 USB 만들기
GenericName[lt]=Sukurti įkraunamą USB atmintinę
GenericName[ml]=ഒരു ബൂടബ്ൽ യു എസ് ബി ഡ്രൈവ്  നിര്മിക്കുന്നു
GenericName[mr]=बूटेबल USB स्टिक तयार करा
GenericName[ms]=Buat pemacu pena USB boleh but
GenericName[nds]=Erstelle einen bootfähigen USB-Stick
GenericName[ne]=बुटेवल USB बनाउनुहोस्
GenericName[nl]=Een opstartbaar USB-staafje maken
GenericName[oc]=Crear una clau USB bootabla
GenericName[pa]=USB ਸਟਿੱਕ ਬੂਟਹੋਣਯੋਗ ਬਣਾਓ
GenericName[pl]=Utwórz rozruchową kartę USB
GenericName[pt]=Criar um disco USB de arranque
GenericName[pt_BR]=Criar um Pen Drive Bootável
GenericName[pt_PT]=Criar um disco USB de arranque
GenericName[ro]=Fă un USB stick bootabil
GenericName[ru]=Создание загрузочного USB-носителя
GenericName[sk]=Vytvoriť spustiteľný USB flash disk
GenericName[sl]=Ustvari zagonski ključ USB
GenericName[sr]=Направите покретачки USB штапић
GenericName[sr@ijekavianlatin]=Направите покретачки USB штапић
GenericName[sr@latin]=Направите покретачки USB штапић
GenericName[sv]=Skapa en boot-kapabel USB-sticka
GenericName[ta]=துவங்கக்கூடிய ஒரு யுஎஸ்பி குச்சியைச் செய்க
GenericName[tg]=Таҳия кардани драйви боршавандаи USB
GenericName[th]=ทำสติ๊ก USB ที่ใช้เริ่มระบบได้
GenericName[tr]=Boot edebilir USB bellek hazırla
GenericName[uk]=Зробити завантажувальний USB накопичувач
GenericName[vi]=Tạo đĩa USB khởi động
GenericName[zh_CN]=创建可启动 U 盘
GenericName[zh_TW]=製作可開機 USB 隨身碟
