[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=gtk-execute
Exec=imagewriter
Name=ImageWriter
Comment=Make a bootable USB stick
Categories=GNOME;GTK;Utility
NotShowIn=KDE;
