[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=gtk-execute
Exec=mintstick -m format
Name=USB Stick Formatter
Comment=Format USB Stick
Name[fr]=Formateur de clé USB
Comment[fr]=Formater une clé USB
Categories=GNOME;GTK;Utility;
NotShowIn=KDE;
