[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=system-run
Exec=mintstick -m format
Categories=System;
OnlyShowIn=KDE;
Name=USB Stick Formatter
Name[am]=የ USB Stick Formatter
Name[ar]=مُهيّئ أجهزة USB
Name[be]=Фарматаваць USB-прыладу
Name[be@latin]=Фарматаваць USB-прыладу
Name[bg]=Форматиране на USB картата
Name[ca]=Formatador de memòria USB
Name[ca@valencia]=Formatador de memòria USB
Name[cs]=Formátovač usb disků
Name[da]=Værktøj til formatering af USB-nøgle
Name[de]=USB-Stick-Formatierer
Name[el]=Μορφοποιητής μνήμης USB
Name[es]=Formateador de memorias USB
Name[es_AR]=Formateador de memorias USB
Name[et]=USB pulga vormindaja
Name[eu]=USB memoria formateatzailea
Name[fi]=USB-muistin formatoija
Name[fr]=Formatteur de clé USB
Name[fr_CA]=Formatteur de clé USB
Name[gd]=Fòrmatair bioran USB
Name[gl]=Formatador de memorias USB
Name[he]=מפרמט התקנים נשלפים
Name[hr]=Formatiranje USB uređaja
Name[hu]=Pendrive formázó
Name[id]=Pemormat Perangkat USB
Name[is]=USB-forsníðingatól
Name[it]=Formattatore di penna USB
Name[ja]=USB メモリフォーマッタ
Name[lt]=USB atmintinės žymėtuvas
Name[ml]=യു എസ് ബി ഡ്രൈവ് ശൂന്യമാക്കുനയാൽ
Name[mr]=USB स्टिक फॉरमॅट करणारी प्रणाली
Name[ms]=Pemformat Pena USB
Name[nds]=USB Stick Formatierer
Name[ne]=USB ढाँचाकर्ता
Name[nl]=Formatteur voor USB-staafjes
Name[oc]=Formatador de clau USB
Name[pl]=Formatowanie kart USB
Name[pt]=Formatador de dispositivos USB
Name[pt_BR]=Formatador de dispositivo de memoria USB
Name[pt_PT]=Formatador de dispositivos USB
Name[ro]=Formator de stick USB
Name[ru]=Форматирование USB-флеш-накопителя
Name[sk]=Formátovanie USB flash disku
Name[sl]=Formatirnik ključev USB
Name[sr]=Форматирање за УСБ штапић
Name[sr@ijekavianlatin]=Форматирање за УСБ штапић
Name[sr@latin]=Форматирање за УСБ штапић
Name[sv]=USB-minne formaterare
Name[ta]=USB குச்சி வடிவமைப்பான்
Name[tg]=Форматкунандаи драйви USB
Name[th]=โปรแกรมฟอร์แมตสติ๊ก USB
Name[tr]=USB Bellek Biçimlendirici
Name[uk]=USB пристрій відформатовано
Name[vi]=Trình Định dạng Thanh USB
Name[zh_CN]=U 盘格式化工具
Name[zh_TW]=USB 隨身碟格式化程式
Comment=Format a USB stick
Comment[am]=የ USB stick Format ማድረጊያ
Comment[ar]=قم بتهيئة جهاز USB
Comment[be]=Фарматаваць USB-прыладу
Comment[be@latin]=Фарматаваць USB-прыладу
Comment[bg]=Форматиране на USB картата
Comment[ca]=Formatar una memòria USB
Comment[ca@valencia]=Formatar una memòria USB
Comment[cs]=Formátovat USB klíčenku
Comment[da]=Formatér en USB-nøgle
Comment[de]=USB-Stick formatieren
Comment[el]=Μορφοποίηση μνήμης USB
Comment[es]=Formatear una memoria USB
Comment[es_AR]=Formatear una memoria USB
Comment[et]=USB pulga vormindamine
Comment[eu]=Formateatu USB memoria bat
Comment[fi]=Formatoi USB-muisti
Comment[fr]=Formater une clef USB
Comment[fr_CA]=Formater une clef USB
Comment[gl]=Formatar unha memoria USB
Comment[he]=פרמט התקן נשלף
Comment[hr]=Formatiraj USB uređaj
Comment[hu]=Pendrive formázása
Comment[id]=Format sebuah perangkat USB
Comment[is]=Forsníða USB-lykil
Comment[it]=Formatta una penna USB
Comment[ja]=USB メモリのフォーマット
Comment[lt]=Sužymėti USB atmintinę
Comment[ml]=യു എസ് ബി ഡ്രൈവ് ശൂന്യമാക്കുക
Comment[mr]=USB स्टिक फॉरमॅट करा
Comment[ms]=Format pemacu pena USB
Comment[nds]=Formatiere einen USB-Stick
Comment[ne]=USB ढाँचाबद्ध गर्नुहोस्
Comment[nl]=Een USB-staafje formatteren
Comment[oc]=Formatar una clau USB
Comment[pl]=Formatuj kartę USB
Comment[pt]=Formatar disco USB
Comment[pt_BR]=Formatar um Pen Drive
Comment[pt_PT]=Formatar disco USB
Comment[ro]=Formatează un stick USB
Comment[ru]=Форматировать USB-накопитель
Comment[sk]=Naformátovať USB disk
Comment[sl]=Formatiraj ključ USB
Comment[sr]=Форматирај USB штапић
Comment[sr@ijekavianlatin]=Форматирај USB штапић
Comment[sr@latin]=Форматирај USB штапић
Comment[sv]=Formatera USB-sticka
Comment[ta]=ஒரு யுஎஸ்பி குச்சியை வடிவமைக்கவும்
Comment[tg]=Формат кардани драйви USB
Comment[th]=ฟอร์แมตสติ๊ก USB
Comment[tr]=Bir USB belleği biçimlendir
Comment[uk]=Форматувати USB накопичувач
Comment[vi]=Định dạng đĩa USB
Comment[zh_CN]=格式化 U 盘
Comment[zh_TW]=格式化 USB 隨身碟
GenericName=Format a USB stick
GenericName[am]=የ USB stick Format ማድረጊያ
GenericName[ar]=قم بتهيئة جهاز USB
GenericName[be]=Фарматаваць USB-прыладу
GenericName[be@latin]=Фарматаваць USB-прыладу
GenericName[bg]=Форматиране на USB картата
GenericName[ca]=Formatar una memòria USB
GenericName[ca@valencia]=Formatar una memòria USB
GenericName[cs]=Formátovat USB klíčenku
GenericName[da]=Formatér en USB-nøgle
GenericName[de]=USB-Stick formatieren
GenericName[el]=Μορφοποίηση μνήμης USB
GenericName[es]=Formatear una memoria USB
GenericName[es_AR]=Formatear una memoria USB
GenericName[et]=USB pulga vormindamine
GenericName[eu]=Formateatu USB memoria bat
GenericName[fi]=Formatoi USB-muisti
GenericName[fr]=Formater une clef USB
GenericName[fr_CA]=Formater une clef USB
GenericName[gl]=Formatar unha memoria USB
GenericName[he]=פרמט התקן נשלף
GenericName[hr]=Formatiraj USB uređaj
GenericName[hu]=Pendrive formázása
GenericName[id]=Format sebuah perangkat USB
GenericName[is]=Forsníða USB-lykil
GenericName[it]=Formatta una penna USB
GenericName[ja]=USB メモリのフォーマット
GenericName[lt]=Sužymėti USB atmintinę
GenericName[ml]=യു എസ് ബി ഡ്രൈവ് ശൂന്യമാക്കുക
GenericName[mr]=USB स्टिक फॉरमॅट करा
GenericName[ms]=Format pemacu pena USB
GenericName[nds]=Formatiere einen USB-Stick
GenericName[ne]=USB ढाँचाबद्ध गर्नुहोस्
GenericName[nl]=Een USB-staafje formatteren
GenericName[oc]=Formatar una clau USB
GenericName[pl]=Formatuj kartę USB
GenericName[pt]=Formatar disco USB
GenericName[pt_BR]=Formatar um Pen Drive
GenericName[pt_PT]=Formatar disco USB
GenericName[ro]=Formatează un stick USB
GenericName[ru]=Форматировать USB-накопитель
GenericName[sk]=Naformátovať USB disk
GenericName[sl]=Formatiraj ključ USB
GenericName[sr]=Форматирај USB штапић
GenericName[sr@ijekavianlatin]=Форматирај USB штапић
GenericName[sr@latin]=Форматирај USB штапић
GenericName[sv]=Formatera USB-sticka
GenericName[ta]=ஒரு யுஎஸ்பி குச்சியை வடிவமைக்கவும்
GenericName[tg]=Формат кардани драйви USB
GenericName[th]=ฟอร์แมตสติ๊ก USB
GenericName[tr]=Bir USB belleği biçimlendir
GenericName[uk]=Форматувати USB накопичувач
GenericName[vi]=Định dạng đĩa USB
GenericName[zh_CN]=格式化 U 盘
GenericName[zh_TW]=格式化 USB 隨身碟
