[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=mintstick
Exec=mintstick -m format
Categories=GNOME;GTK;Utility;
NotShowIn=KDE;
Name=USB Stick Formatter
Name[am]=የ USB Stick Formatter
Name[ar]=مهيء قرص USB
Name[az]=USB Yaddaş Biçimləndiricisi
Name[be]=Фарматаванне USB-прылады
Name[bg]=Форматиране на USB картата
Name[bn]=USB স্টিক ফরম্যাটার
Name[bs]=Formater USB memorijskog uređaja
Name[ca]=Formatador de memòries USB
Name[ca@valencia]=Formatador de memòries USB
Name[cs]=Nástroj pro formátování USB úložišť
Name[cy]=Fformatiwr Cof Bach USB
Name[da]=Værktøj til formatering af USB-nøgle
Name[de]=USB-Stick-Formatierer
Name[el]=Μορφοποιητής μνήμης USB
Name[eo]=Strukturilo de usb-bastoneto
Name[es]=Formateador de memorias USB
Name[et]=USB pulga vormindaja
Name[eu]=USB memoria formateatzailea
Name[fa]=قالب‌بند فلش‌مموری
Name[fi]=USB-muistitikun alustaja
Name[fr]=Formateur de clé USB
Name[fr_CA]=Formatteur de clé USB
Name[fy]=USB Stick formattearder
Name[gd]=Fòrmataiche bioran USB
Name[gl]=Formatador de memorias USB
Name[he]=מתבנת החסן נייד USB
Name[hi]=यूएसबी फॉर्मेट हेतु साधन
Name[hr]=Formatiranje USB uređaja
Name[hu]=Pendrive formázó
Name[ia]=Formatator de clave USB
Name[id]=Pemormat Perangkat USB
Name[ie]=Formatar claves USB
Name[is]=USB-forsníðingatól
Name[it]=Formatta penna USB
Name[ja]=USB メモリフォーマッター
Name[ka]=USB ჯოხის დამფორმატებელი
Name[kab]=Amessal n tsarutt USB
Name[kk]=USB-флеш форматтауы
Name[kn]=ಯುಎಸ್‌ಬಿ ಕಡ್ಡಿ ರೂಪಿಸುವವ
Name[ko]=USB 포맷 장치
Name[ku]=Şêwedêrê Darkê USB
Name[la]=USB Clavem Formator
Name[lt]=USB atmintinės formatavimo įrankis
Name[lv]=USB zibatmiņas formatētājs
Name[ml]=യു എസ് ബി ഡ്രൈവ് ശൂന്യമാക്കുനയാൽ
Name[mr]=USB स्टिक फॉरमॅट करणारी प्रणाली
Name[ms]=Pemformat Pena USB
Name[nap]=Formattatore 'e lappese USB
Name[nb]=Minnepinne-formaterer
Name[nds]=USB Stick Formatierer
Name[ne]=USB ढाँचाकर्ता
Name[nl]=Formatteur voor USB-staafjes
Name[oc]=Formatador de clau USB
Name[pl]=Formatowanie nośników USB
Name[pt]=Formatador de dispositivos USB
Name[pt_BR]=Formatador de dispositivos USB
Name[ro]=Formator stick USB
Name[ru]=Форматирование USB-флеш-накопителя
Name[sc]=Formatadore de dispositivos USB
Name[sk]=Formátovanie USB flash disku
Name[sl]=Formatirnik ključev USB
Name[sq]=Formatues pajisjesh USB
Name[sr]=Форматер за УСБ диск
Name[sr@latin]=Formatiranje USB uređaja
Name[sv]=USB-minnesformaterare
Name[ta]=USB குச்சி வடிவமைப்பான்
Name[tg]=Форматкунандаи драйви USB
Name[th]=โปรแกรมฟอร์แมตสติ๊ก USB
Name[tr]=USB Bellek Biçimlendirici
Name[uk]=Форматування USB-нагромаджувача
Name[ur]=یو.ایس.بی سٹک فارمیٹر
Name[uz]=USB flesh-disk formatlagichi
Name[vi]=Trình Định dạng Thanh USB
Name[zh_CN]=U 盘格式化工具
Name[zh_HK]=USB 記憶棒格式化程式
Name[zh_TW]=USB 隨身碟格式化程式
Comment=Format a USB stick
Comment[am]=የ USB stick Format ማድረጊያ
Comment[ar]=تهيئة قرص USB
Comment[az]=Bir USB yaddaşını biçimləndir
Comment[be]=Фарматаваць USB-прыладу
Comment[bg]=Форматиране на USB картата
Comment[bn]=একটি USB স্টিক ফর্ম্যাট করুন
Comment[bs]=Formatiraj USB memorijski uređaj
Comment[ca]=Formateu una memòria USB
Comment[ca@valencia]=Formateu una memòria USB
Comment[cs]=Formátovat USB klíčenku
Comment[cy]=Fformatio cof bach USB
Comment[da]=Formatér en USB-nøgle
Comment[de]=USB-Stick formatieren
Comment[el]=Μορφοποίηση μνήμης USB
Comment[eo]=Strukturi usb-bastoneton
Comment[es]=Formatear una memoria USB
Comment[et]=USB pulga vormindamine
Comment[eu]=Formateatu USB memoria
Comment[fa]=قالب‌بندی فلش‌مموری
Comment[fi]=Alusta USB-muistitikku
Comment[fr]=Formater une clé USB
Comment[fr_CA]=Formater une clé USB
Comment[fy]=USB stick formatteare
Comment[gd]=Fòrmataich bioran USB
Comment[gl]=Formatar unha memoria USB
Comment[he]=תבנות החסן נייד USB
Comment[hi]=यूएसबी फॉर्मेट करें
Comment[hr]=Formatiraj USB uređaj
Comment[hu]=Pendrive formázása
Comment[ia]=Formatar un clave USB
Comment[id]=Format sebuah perangkat USB
Comment[ie]=Formatar un clave USB
Comment[is]=Forsníða USB-lykil
Comment[it]=Formatta una penna USB
Comment[ja]=USB メモリをフォーマットします
Comment[ka]=USB ჯოხის დაფორმატება
Comment[kab]=Msel tasarutt USB
Comment[kk]=USB-флешті форматтау
Comment[kn]=ಯುಎಸ್‌ಬಿ ಕಡ್ಡಿಯನ್ನು ರೂಪಿಸು
Comment[ko]=USB 포맷하기
Comment[ku]=Darkê USB şêwebike
Comment[la]=USB clavem forma
Comment[lt]=Formatuoti USB atmintinę
Comment[lv]=Formatēt USB zibatmiņu
Comment[ml]=യു എസ് ബി ഡ്രൈവ് ശൂന്യമാക്കുക
Comment[mr]=USB स्टिक फॉरमॅट करा
Comment[ms]=Format pemacu pena USB
Comment[nap]=Formatta 'nu lappese USB
Comment[nb]=Formater en minnepinne
Comment[nds]=Formatiere einen USB-Stick
Comment[ne]=USB ढाँचाबद्ध गर्नुहोस्
Comment[nl]=Een USB-staafje formatteren
Comment[oc]=Formatar una clau USB
Comment[pap]=Format un USB stick
Comment[pl]=Formatuj nośnik USB
Comment[pt]=Formatar disco USB
Comment[pt_BR]=Formate um dispositivo USB
Comment[ro]=Formatați un stick USB
Comment[ru]=Форматировать USB-накопитель
Comment[sk]=Naformátovať USB disk
Comment[sl]=Formatiraj ključ USB
Comment[sq]=Formato një pajisje USB
Comment[sr]=Форматирајте УСБ диск
Comment[sr@latin]=Formatiraj USB uređaj
Comment[sv]=Formatera ett USB-minne
Comment[ta]=ஒரு யுஎஸ்பி குச்சியை வடிவமைக்கவும்
Comment[tg]=Формат кардани драйви USB
Comment[th]=ฟอร์แมตสติ๊ก USB
Comment[tr]=Bir USB belleği biçimlendir
Comment[uk]=Форматувати USB-нагромаджувач
Comment[ur]=کوئی یو.ایس.بی فارمیٹ کریں
Comment[uz]=USB flesh-diskini formatlash
Comment[vi]=Định dạng đĩa USB
Comment[zh_CN]=格式化 U 盘
Comment[zh_HK]=格式化 USB 記憶棒
Comment[zh_TW]=格式化 USB 隨身碟
