[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=gtk-execute
Exec=mintstick
Name=MintStick
Comment=Make a bootable USB stick
Categories=GNOME;GTK;Utility;
NotShowIn=KDE;
