[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=gtk-execute
Exec=mintstick -m format
Categories=GNOME;GTK;Utility;
NotShowIn=KDE;
Name=USB Stick Formatter
Comment=Format a USB stick
