[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=gtk-execute
Exec=mintstick -m iso
Categories=GNOME;GTK;Utility;
NotShowIn=KDE;
Name=USB Image Writer
Name[am]=USB ምስል መጻፊያ
Name[ar]=كاتب الصور على USB.
Name[bn]=USB Image Writer
Name[bn_IN]=USB Image Writer
Name[ca]=Gravador d'imatge USB
Name[ca@valencia]=Gravador d'imatge USB
Name[cs]=USB zapisovač obrazů
Name[da]=USB aftryksskriver
Name[de]=USB Startmedien-Erstellung
Name[en_GB]=USB Image Writer
Name[es]=Grabador de imágenes USB
Name[et]=USB Image Writer
Name[eu]=USB Image Writer
Name[fi]=USB Image Writer
Name[fr]=Créateur de clé USB
Name[fr_CA]=Créateur de clé USB
Name[gd]=Sgrìobhadair ìomhaighe USB
Name[gl]=Grabador de imaxes USB
Name[hr]=USB zaspisnik slika
Name[hu]=USB Image Writer
Name[id]=Penulis Berkas USB
Name[is]=USB-diskmyndaskrifari
Name[it]=USB Image Writer
Name[ja]=USB イメージライタ
Name[ms]=Penulis Imej USB
Name[nds]=USB Image Writer
Name[nl]=Schijfkopieschrijver voor USB
Name[pl]=Zapisywanie obrazów na USB
Name[pt]=Gravador de imagens em USB
Name[pt_BR]=Gravador de imagens em USB
Name[pt_PT]=Gravador de imagens em USB
Name[ru]=Создание загрузочного USB-носителя
Name[sl]=Zapisovalnik odtisov USB
Name[sr]=Уписивање слика на УСБ
Name[sr@ijekavianlatin]=Уписивање слика на УСБ
Name[sr@latin]=Уписивање слика на УСБ
Name[sv]=USB avbildsskrivare
Name[ta]=யுஎஸ்பி பட எழுதி
Name[tpi]=USB Image Writer
Name[tr]=USB Kalıp Yazıcı
Name[uk]=Записувач образів на USB пристрої
Name[vi]=Trình Ghi Ảnh USB
Name[zh_CN]=USB Image Writer
Name[zh_HK]=USB Image Writer
Comment=Make a bootable USB stick
Comment[am]=Make a bootable USB stick
Comment[ar]=انشئ جهاز USB للتمهيد
Comment[bn]=Make a bootable USB stick
Comment[bn_IN]=Make a bootable USB stick
Comment[ca]=Crear una memòria USB arrancable
Comment[ca@valencia]=Crear una memòria USB arrancable
Comment[cs]=Vytvořit bootovatelný USB disk
Comment[da]=Lav en bootbar USB-nøgle
Comment[de]=Bootfähigen USB-Stick erstellen
Comment[en_GB]=Make a bootable USB stick
Comment[es]=Crear una memoria USB arrancable
Comment[et]=Make a bootable USB stick
Comment[eu]=Make a bootable USB stick
Comment[fi]=Make a bootable USB stick
Comment[fr]=Créer une clef USB bootable
Comment[fr_CA]=Créer une clef USB bootable
Comment[gd]=Make a bootable USB stick
Comment[gl]=Crear unha memoria USB arrincábel
Comment[hr]=Napravi USB uređaj za podizanje sustava
Comment[hu]=Make a bootable USB stick
Comment[id]=Membuat sebuah bootable USB
Comment[is]=Búa til ræsanlegan USB-lykil
Comment[it]=Make a bootable USB stick
Comment[ja]=Make a bootable USB stick
Comment[ms]=Buat pemacu pena USB boleh but
Comment[nds]=Make a bootable USB stick
Comment[nl]=Een opstartbaar USB-staafje maken
Comment[pl]=Utwórz rozruchową kartę USB
Comment[pt]=Fazer uma pendrive de arranque
Comment[pt_BR]=Fazer uma pendrive de arranque
Comment[pt_PT]=Fazer uma pendrive de arranque
Comment[ru]=Создание загрузочного USB-носителя
Comment[sl]=Ustvari zagonski ključ USB
Comment[sr]=Направите покретачки USB штапић
Comment[sr@ijekavianlatin]=Направите покретачки USB штапић
Comment[sr@latin]=Направите покретачки USB штапић
Comment[sv]=Skapa en boot-kapabel USB-sticka
Comment[ta]=துவங்கக்கூடிய ஒரு யுஎஸ்பி குச்சியைச் செய்க
Comment[tpi]=Make a bootable USB stick
Comment[tr]=Boot edebilir USB bellek hazırla
Comment[uk]=Зробити завантажувальний USB накопичувач
Comment[vi]=Tạo đĩa USB khởi động
Comment[zh_CN]=Make a bootable USB stick
Comment[zh_HK]=Make a bootable USB stick
