[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=system-run
Exec=mintstick
Name=MintStick
Comment=Make a bootable USB stick
Categories=System;
OnlyShowIn=KDE;
Name[en_IE]=mintstick-kde.desktop
