[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=system-run
Exec=mintstick
Name=USB Image Writer
Name[fr]=Créateur de clé USB
Name[de]=USB Image-Aufzeichner
Comment=Make a bootable USB stick
Comment[fr]=Créer une clé USB bootable
Comment[nl]=Maak uw eigen opstart-USB stick
Comment[de]="Einen bootfähigen USB-Stick erstellen"
Categories=System;
OnlyShowIn=KDE;
