[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=system-run
Exec=mintstick -m format
Categories=System;
OnlyShowIn=KDE;
Name=USB Stick Formatter
Name[am]=USB Stick Formatter
Name[ar]=مُهيّئ أجهزة USB
Name[bn]=USB Stick Formatter
Name[bn_IN]=USB Stick Formatter
Name[ca]=Formatador de memòria USB
Name[ca@valencia]=Formatador de memòria USB
Name[cs]=Formátovač usb disků
Name[da]=Værktøj til formatering af USB-nøgle
Name[de]=USB-Stick Formatierer
Name[en_GB]=USB Stick Formatter
Name[es]=Formateador de memorias USB
Name[et]=USB Stick Formatter
Name[eu]=USB Stick Formatter
Name[fi]=USB Stick Formatter
Name[fr]=Formatteur de clé USB
Name[fr_CA]=Formatteur de clé USB
Name[gd]=Fòrmatair bioran USB
Name[gl]=Formateador de memorias USB
Name[hr]=Formatiranje USB uređaja
Name[hu]=USB kulcs formázó
Name[id]=Pemormat Perangkat USB
Name[is]=USB-forsníðingatól
Name[it]=USB Stick Formatter
Name[ja]=USB メモリフォーマッタ
Name[ms]=Pemformat Pena USB
Name[nds]=USB Stick Formatierer
Name[nl]=Formatteur voor USB-staafjes
Name[pl]=Formatowanie kart USB
Name[pt]=Formatador de dispositivos USB
Name[pt_BR]=Formatador de dispositivos USB
Name[pt_PT]=Formatador de dispositivos USB
Name[ru]=Форматирование USB-флеш-накопителя
Name[sl]=Formatirnik ključev USB
Name[sr]=Форматирање за УСБ штапић
Name[sr@ijekavianlatin]=Форматирање за УСБ штапић
Name[sr@latin]=Форматирање за УСБ штапић
Name[sv]=USB-minne formaterare
Name[ta]=USB குச்சி வடிவமைப்பான்
Name[tpi]=USB Stick Formatter
Name[tr]=USB Bellek Biçimlendirici
Name[uk]=USB пристрій відформатовано
Name[vi]=Trình Định dạng Thanh USB
Name[zh_CN]=USB Stick Formatter
Name[zh_HK]=USB Stick Formatter
GenericName=Format a USB stick
GenericName[am]=Format a USB stick
GenericName[ar]=قم بتهيئة جهاز USB
GenericName[bn]=Format a USB stick
GenericName[bn_IN]=Format a USB stick
GenericName[ca]=Formatar una memòria USB
GenericName[ca@valencia]=Formatar una memòria USB
GenericName[cs]=Formátovat USB klíčenku
GenericName[da]=Formatér en USB-nøgle
GenericName[de]=USB-Stick formatieren
GenericName[en_GB]=Format a USB stick
GenericName[es]=Formatear una memoria USB
GenericName[et]=Format a USB stick
GenericName[eu]=Format a USB stick
GenericName[fi]=Format a USB stick
GenericName[fr]=Formater une clef USB
GenericName[fr_CA]=Formater une clef USB
GenericName[gd]=Format a USB stick
GenericName[gl]=Formatear unha memoria USB
GenericName[hr]=Formatiraj USB uređaj
GenericName[hu]=Format a USB stick
GenericName[id]=Format sebuah perangkat USB
GenericName[is]=Forsníða USB-lykil
GenericName[it]=Format a USB stick
GenericName[ja]=Format a USB stick
GenericName[ms]=Format pemacu pena USB
GenericName[nds]=Format a USB stick
GenericName[nl]=Een USB-staafje formatteren
GenericName[pl]=Formatuj kartę USB
GenericName[pt]=Formatar pendrive
GenericName[pt_BR]=Formatar pendrive
GenericName[pt_PT]=Formatar pendrive
GenericName[ru]=Format a USB stick
GenericName[sl]=Formatiraj ključ USB
GenericName[sr]=Форматирај USB штапић
GenericName[sr@ijekavianlatin]=Форматирај USB штапић
GenericName[sr@latin]=Форматирај USB штапић
GenericName[sv]=Formatera USB-sticka
GenericName[ta]=ஒரு யுஎஸ்பி குச்சியை வடிவமைக்கவும்
GenericName[tpi]=Format a USB stick
GenericName[tr]=Bir USB belleği biçimlendir
GenericName[uk]=Форматувати USB накопичувач
GenericName[vi]=Định dạng đĩa USB
GenericName[zh_CN]=Format a USB stick
GenericName[zh_HK]=Format a USB stick
Comment=Format a USB stick
Comment[am]=Format a USB stick
Comment[ar]=قم بتهيئة جهاز USB
Comment[bn]=Format a USB stick
Comment[bn_IN]=Format a USB stick
Comment[ca]=Formatar una memòria USB
Comment[ca@valencia]=Formatar una memòria USB
Comment[cs]=Formátovat USB klíčenku
Comment[da]=Formatér en USB-nøgle
Comment[de]=USB-Stick formatieren
Comment[en_GB]=Format a USB stick
Comment[es]=Formatear una memoria USB
Comment[et]=Format a USB stick
Comment[eu]=Format a USB stick
Comment[fi]=Format a USB stick
Comment[fr]=Formater une clef USB
Comment[fr_CA]=Formater une clef USB
Comment[gd]=Format a USB stick
Comment[gl]=Formatear unha memoria USB
Comment[hr]=Formatiraj USB uređaj
Comment[hu]=Format a USB stick
Comment[id]=Format sebuah perangkat USB
Comment[is]=Forsníða USB-lykil
Comment[it]=Format a USB stick
Comment[ja]=Format a USB stick
Comment[ms]=Format pemacu pena USB
Comment[nds]=Format a USB stick
Comment[nl]=Een USB-staafje formatteren
Comment[pl]=Formatuj kartę USB
Comment[pt]=Formatar pendrive
Comment[pt_BR]=Formatar pendrive
Comment[pt_PT]=Formatar pendrive
Comment[ru]=Format a USB stick
Comment[sl]=Formatiraj ključ USB
Comment[sr]=Форматирај USB штапић
Comment[sr@ijekavianlatin]=Форматирај USB штапић
Comment[sr@latin]=Форматирај USB штапић
Comment[sv]=Formatera USB-sticka
Comment[ta]=ஒரு யுஎஸ்பி குச்சியை வடிவமைக்கவும்
Comment[tpi]=Format a USB stick
Comment[tr]=Bir USB belleği biçimlendir
Comment[uk]=Форматувати USB накопичувач
Comment[vi]=Định dạng đĩa USB
Comment[zh_CN]=Format a USB stick
Comment[zh_HK]=Format a USB stick
