<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC 
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" 
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>linuxmint</vendor>
  <vendor_url>http://hal.freedesktop.org/docs/PolicyKit/</vendor_url>

  <action id="org.freedesktop.policykit.pkexec.run-im">
    <description>MintStick Authentication dialog</description>
    <message>This will destroy all data on the target device, are you sure you want to proceed ?  If you type your password here, please do not unplug the device during the following operation.</message>
    <message xml:lang="fr">Toutes les données contenues sur ce périphérique vont être détruites. Ne débranchez pas votre périphérique avant que l'opération ne soit terminée.</message>
    <icon_name>system-run</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/python</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">/usr/lib/linuxmint/mintstick/raw_write.py</annotate>
  </action>

</policyconfig>
