[Desktop Entry]
X-KDE-Solid-Predicate=IS StorageAccess
Type=Service
Actions=open;

[Desktop Action open]
Exec=/usr/lib/mintstick/mintstick.py -m format -u %d
Icon=drive-removable-media-usb-pendrive
Name=Format USB stick